<!DOCTYPE html>
<html>
  <head lang="en">
    <title>CivicUP - Angular Version</title>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="app/assets/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="app/assets/images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="app/assets/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="app/assets/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="app/assets/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="app/assets/images/apple-touch-icon-120x120.png">
    <link rel="icon" type="image/png" href="app/assets/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="app/assets/images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="app/assets/images/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="app/assets/images/manifest.json">
    <link rel="mask-icon" href="app/assets/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-app="civicup">

  <!-- Navbar -->
    <nav class="navbar navbar-default navbar-static-top">
    		<div class="navbar-header">
    			<a class="navbar-brand" href="#home">CivicUp</a>
    		</div>

    			<div ng-controller="NavCtrl">
    				<ul class="nav navbar-nav">
    					<li ng-class="{ active: isActive('/home')}">
    						<a href="#home">Home</a>
    					</li>
    					<li ng-class="{ active: isActive('/about')}">
    						<a href="#about">About</a>
    					</li>
    					<li ng-class="{ active: isActive('/contact')}">
    						<a href="#contact">Contact</a>
    					</li>
    				</ul>

    				<ul class="nav navbar-nav navbar-right">
    					<li ng-hide="signedIn()" ng-class="{ active: isActive('/login')}">
    						<a href="#/login">Log in</a>
    					</li>
    					<li ng-hide="signedIn()" ng-class="{ active: isActive('/register')}">
    						<a href="#/register">Register</a>
    					</li>
              <!-- Gravatar API for user image -->
    					<!-- <li ng-show="signedIn()">
    						<img src="http://www.gravatar.com/avatar/{{ hash }}"  class="navbar-gravatar"/>
    					</li> -->
    					<li ng-show="signedIn()" ng-class="{ active: isActive('/profile')}">
    						<a href="#/profile/{{ user.id }}">{{ user.username }}</a>
    					</li>
    					<li ng-show="signedIn()">
    						<a ng-click="logout()" style="cursor: pointer;">Log out</a>
    					</li>

    					<li class="">
    						<button type="button" ng-click="addNewLink()" class="btn btn-success navbar-btn">Propose New Initiative</button>
    					</li>

    				</ul>
    			</div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <div ui-view></div>

  </body>
</html>
